<div>
    <main>
        <div class="slider">
          <ul>
            <li>
              <img src="./assets/slider-1.png" alt="" />
            </li>
            <li>
              <img src="./assets/slider-2.png" alt="" />
            </li>
            <li>
              <img src="./assets/slider-3.png" alt="" />
            </li>
            <li>
              <img src="./assets/slider-4.png" alt="" />
            </li>
          </ul>
        </div>
  
        <div>
          <img class="seccion" src="./assets/seccion1.png" alt="" />
        </div>
        <div>
          <img class="seccion" src="./assets/seccion2.png" alt="" />
        </div>
        <div>
          <img class="seccion" src="./assets/seccion3.png" alt="" />
        </div>
        <div>
          <img class="seccion" src="./assets/seccion4.png" alt="" />
        </div>
        <div>
          <img class="seccion" src="./assets/seccion5.png" alt="" />
        </div>
      </main>
  
      <footer class="l-footer">
        <div class="l-1">
          <h2>EPMAPS - Agua de Quito</h2>
          <p>
            <br />
            Somos la dependencia municipal encargada de la gestión del agua en el
            Distrito Metropolitano de Quito, desde la captación en las fuentes
            hasta el manejo de las aguas residuales urbanas pasando por todo el
            proceso de conducción, potabilización, distribución y recolección de
            las aguas residuales.
          </p>
        </div>
  
        <div class="l-2">
          <h2>Entradas recientes</h2>
          <p>
            <br />
            2021 <br />
            TRANSPARENCIA <br />
            Servicio de Consultoría para realizar los interceptores y la
            Actualización de la Planta de Tratamiento de Aguas Residuales Sector
            Checa <br />
            Principios
          </p>
        </div>
  
        <div class="l-3">
          <h2>Contactos</h2>
          <p>
            <br />
            Mariana de Jesus entre Alemania e Italia. Quito-Ecuador
            <br /><br />
            1800-242424 <br /><br />
            atencion.cliente@aguaquito.gob.ec
            <br />
            <b>Correo institucional</b>
          </p>
        </div>
        <div class="l-4">
          <p>Todos los derechos reservados EPMAPS 2020</p>
        </div>
      </footer>
</div>